/YoutubeDownloader/nbproject/private/
/YoutubeDownloader/build/
/YoutubeDownloader/dist/
/source/build/
/Oal/nbproject/private/
/Oal/build/
/source/dist/YoutubeDownloader/
/YoutubeDownloader/Oal/
*.pyc